<h1> Welcome the CRM Read me file</h1>

<p>
<h2>There are three models<h2>

The stylesheet in use is from <a href "http://www.blueprintcss.org/" /a> version 1.0 

<table>
     <tr>
          <td>
<%= link_to "Companies", '/companies' %>
          </td>
          <td>
<%= link_to "Customers", '/customers' %>
          </td>
        <td>
<%= link_to "Orders", '/orders' %>
          </td>
     </tr>
     
</table>
