<h1>Welcome CRM Application</h1>
<p>
  This is the home page for the
  <a href="http://http://stark-summer-368.heroku.com//">Customer Relationship Manager</a>
      application.
    </p>
<%= link_to "Companies", '/companies' %>
<%= link_to "Customers", '/customers' %>
<%= link_to "Orders", '/orders' %>
